<div class="container mt-5">
  <h2>Database Connections</h2>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add New Database</button>
  <a class="btn btn-primary" href="/blazer">Dashboard</a>
  <table class="table table-striped mt-2">
    <thead>
      <tr>
        <th>Name</th>
        <th>Url</th>
      </tr>
    </thead>
    <tbody>
      <% @databases.each_with_index do |db, index| %>
        <tr>
          <td><%= db.name %></td>
          <td><%= db.url %></td>
          <td>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#modal<%= index %>">Edit Creds</a>
            <%= link_to 'Delete', db, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
          <div class="modal" id="modal<%= index %>">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Edit Database</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <h4>Sample URLs</h4>
                  <ul>
                    <li><pre>mongodb://user:password@hostname:27017/database</pre></li>
                    <li><pre>mysql2://user:password@hostname:3306/database</pre></li>
                    <li><pre>postgres://user:password@hostname:5432/database</pre></li>
                    <li><pre>sqlserver://user:password@hostname:1433/database</pre></li>
                  </ul>
                  <%= form_tag("/databases/#{db.id}", method: "put") do %>
                    <label>Database Name</label>
                    <div class = "form-group">
                      <input type="text" name="name" class = "form-control" id = "exampleFormControlInput1" placeholder = "Enter database name" value="<%= db.name %>">
                    </div>
                    <label>Database URL</label>
                    <div class = "form-group">
                      <input type="text" name="url" class = "form-control" id = "exampleFormControlInput1" placeholder = "Enter database url" value="<%= db.url %>">
                    </div>
                    <button class="btn btn-primary" type="submit">Save</button>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Database</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h4>Sample URLs</h4>
        <ul>
          <li><pre>mongodb://user:password@hostname:27017/database</pre></li>
          <li><pre>mysql2://user:password@hostname:3306/database</pre></li>
          <li><pre>postgres://user:password@hostname:5432/database</pre></li>
          <li><pre>sqlserver://user:password@hostname:1433/database</pre></li>
        </ul>
        <%= form_tag("/databases", method: "post") do %>
          <label>Database Name</label>
          <div class = "form-group">
            <input type="text" name="name" class = "form-control" id = "exampleFormControlInput1" placeholder = "Enter database name">
          </div>
          <label>Database URL</label>
          <div class = "form-group">
            <input type="text" name="url" class = "form-control" id = "exampleFormControlInput1" placeholder = "Enter database url">
          </div>
          <button class="btn btn-primary" type="submit">Save</button>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
