<p id="notice"><%= notice %></p>

<h1>Databases</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @databases.each do |database| %>
      <tr>
        <td><%= link_to 'Show', database %></td>
        <td><%= link_to 'Edit', edit_database_path(database) %></td>
        <td><%= link_to 'Destroy', database, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Database', new_database_path %>
